/*added to make things easier to change if needed*/
:root {
    --darkgreen: #617A55;
    --light: #FFF8D6;
}

body {
    margin: 0;
    font-family: serif;
    background-color: var(--light);
    color: var(light);
}

#web-heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #A4D0A4;
    align-content: center;
}

#left-avatar {
    height: 10%;
    width: 3%;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#web-heading h1 {
    font-weight: bolder;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
}
/*margins set to auto to center object*/

#navigation-bar {
    font-size: large;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
}

a:visited {
    color: var(--light);
}

#top {
    color: var(--darkgreen);
}

#top:hover {
    color: black;
    cursor: pointer;
    background-color: var(--darkgreen);
}

#grid-box a {
    color: #617A55;
}


/*changes the appearance of the navigation bar when the curser is over it as well as the apperance of the curser*/
a:hover {
    color: black;
    cursor: pointer;
    background-color: var(--light);
}

#website-body {
    color: var(--darkgreen);
}

#website-body section {
    padding-left: 2%;
}

#contact-info {
    border-bottom: 5px solid var(--darkgreen);
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: center;
}

#about-me {
    text-align: center;
    border-bottom: 5px solid var(--darkgreen);
    padding-bottom: 10%;
}

#my-projects {
    text-align: center;
    border-bottom: 5px solid var(--darkgreen);
    padding-bottom: 10%;
}

/*grid layout was set up to make the layout of the projects look as they do on the website in order to achieve what you cant with a flex box*/
#grid-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr) minmax(200px);
    gap: 10px;
    grid-auto-rows: 200px calc(10vh - 100px);
}

#about-me h2 {
    text-decoration: underline;
}

#about-me img {
    border: 5px groove var(--darkgreen);
    border-radius: 30%;
    max-width: 5%;
    max-height: 10%;
}

h2 {
    text-decoration: underline;
}

.project-name {
    margin-right: 2%;
    border: var(--darkgreen) solid;
    background-color: var(--light);
    font-size: medium;
}

#shoe-box {
    background-image: url("images/shoe.jpg");
    grid-auto-rows: minmax(50px, auto);
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}

#game-box {
    background-image: url("images/game.jpg");
    grid-column: 1 / 2;
    grid-row: 5;
}

#calculator-box {
    background-image: url("images/calulator.jpg");
    grid-column: 2 / 3;
    grid-row: 5;
}

#weather-box {
    background-image: url("images/weather.jpg");
    grid-column: 3 / 4;
    grid-row: 5;
}

#chat-box {
    background-image: url("images/chat.jpg");
    grid-column: 4 / 5;
    grid-row: 5;
}

/*sets the background style, margin, and boarder for the project-box class*/
.project-box {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1%;
    border: 2px solid var(--darkgreen);
}

#chat-box:hover {
    background-image: linear-gradient(to top, rgba(68, 151, 83, 0.8), rgba(255, 255, 255, 0.8)), url("images/chat.jpg");
    cursor: pointer;
}

#calculator-box:hover {
    background-image: linear-gradient(to top, rgba(68, 151, 83, 0.8), rgba(255, 255, 255, 0.8)), url("images/calulator.jpg");
    cursor: pointer;
}

#shoe-box:hover {
    background-image: linear-gradient(to top, rgba(68, 151, 83, 0.8), rgba(255, 255, 255, 0.8)), url("images/shoe.jpg");
    cursor: pointer;
}

#weather-box:hover {
    background-image: linear-gradient(to top, rgba(68, 151, 83, 0.8), rgba(255, 255, 255, 0.8)), url("images/weather.jpg");
    cursor: pointer;
}

#game-box:hover {
    background-image: linear-gradient(to top, rgba(68, 151, 83, 0.8), rgba(255, 255, 255, 0.8)), url("images/game.jpg");
    cursor: pointer;
}


/*The code below allows the text and any other required areas to be adjusted based off of the screen size*/
@media screen and (max-width: 420px) {

    #navigation-bar {
        font-size: small;
    }

    body {
        font-size: 80%;
    }

    #website-body {
        font-size: small;
    }

    .project-name {
        font-size: small;
    }
}

@media screen and (max-width: 320px) {

    .navigation-bar {
        line-height: 2;
    }

    body {
        font-size: 60%;
    }
}

@media screen and (max-width: 300px) {
    #navigation-bar {
        line-height: 2;
    }
    body {
        font-size: 50%;
    }

}


@media screen and (max-width: 220px) {
    a {
        line-height: 2;
        margin-left: 3px;
        margin-right: 3px;
    }
    body {
        font-size: 50%;
    }

}

footer {
    padding: 2%;
    text-align: center;
}
